.side-messages-header
  .side-messages-header__box
    田中太郎
  .side-messages-header__logo
    %ul
      %li 新規作成
      = icon('fas', 'edit')
      %li 編集
      = icon('fas', 'cog')
.side-messages-content
  .side-messages-content__group
    .side-messages-content__group--title
      グループ名
    .side-messages-content__group--chat
      グループコンテンツ
      
  .side-messages-content__group
    .side-messages-content__group--title
      グループ名2
    .side-messages-content__group--chat
      グループコンテンツ2